@font-face {
	font-family: 'Inter';
	src: url('../assets/Inter-Thin.woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url(../assets/Inter-Italic.woff2);
	font-weight: 350;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/Inter-Regular.woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/Inter-Bold.woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../assets/Inter-ExtraBold.woff2');
	font-weight: 700;
	font-style: normal;
}

