#main-logo {
	width: 300px;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.header__menu, .header__search {
	font-weight: normal;
	color:black;
	font-size: 20px;
	margin: 20px;
	text-decoration: none;
	
}

.header__search:hover {
	color: #DA47FF;
}

.header__menu:hover {
	color: #DA47FF;
}

body {
	background: linear-gradient(to right, #fbf8cc, #fde4cf, #ffcfd2, #f1c0e8, #cfbaf0, #a3c4f3, #90dbf4, #8eecf5, #98f5e1, #b9fbc0);
	margin-bottom: 70px;
	font-family: 'Inter';

	
}
main {
	width: 700px;
	margin: auto;
}
.info-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: white;
	border: 1px solid black;
	padding: 10px 20px;
	border-radius: 10px;
}

.required__symbol {
	color: red;
}


.form__container--name, .form__container--age, .form__container--email,
.form__container--phonenumber, .form__container--other {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 700px;
	background-color: white;
	border: 1px solid black;
	padding: 10px 20px;
	margin: 50px auto 0px;
	border-radius: 10px;
}



.form__container--checkbox {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 700px;
	background-color: white;
	border: 1px solid black;
	padding: 10px 20px;
	margin: 50px auto 0px;
	border-radius: 10px;  
}

.checkbox__info {
	padding-bottom: 20px;
}


.form__container--submit {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	margin-top: 30px;
}

.send-button {
	color: white;
	background-color: #9747FF;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
}

.send-button:hover {
	background-color: #DA47FF;
}

.empty-form__button {
	color: #9747FF;
	background-color: #EEDFF4;
	border: none;
	padding: 10px 10px;
	border-radius: 10px;
}

.empty-form__button:hover {
	background-color: #F8F1FC;
}

#github__link {
	padding: 5px;	
	color: #9747FF;
}

#github__link:hover {
	color:#DA47FF;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin-top: 100px;
}

.chatbot {
	display: flex;
	justify-content: flex-end;
	position: sticky;
	bottom: 40px;
	right: 10px;
}

.chatbot__controls {
	display: flex;
	flex-flow: row nowrap;
	border: 1px solid black;
	padding: 20px 40px;
	border-radius: 5px;
	background-color: white;
}

.chatbot__text {
	padding-right: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chatbot__controls:hover {
	color: #DA47FF;
	border: 2px solid #DA47FF;
}


